
<html>
    <head>

    </head>
    <body>
        <iframe width="0" height="0" frameborder="0" src="@Model.MeditationRes.Sound?autoplay=1" allow='autoplay'>
        </iframe>
        @Model.MeditationRes.Sound

    </body>
</html>

<style>
    body {
        background-image:url(@Model.MeditationRes.BackgroundURL);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
    }
</style>


