@{
}

<html>
    <head>

    </head>
    <body>
        <a href="MeditationController/OneMinuteMeditation">
            <input type="button" value="1 minute" />
        </a>
        <a href="MeditationController/FiveMinutesMeditation">
            <input type="button" value="5 minutes" />
        </a>
        <a href="MeditationController/TenMinutesMeditation">
            <input type="button" value="10 minutes" />
        </a>
    </body>
</html>
